
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario Usuario</h2>
<center>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <p></p>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <p></p>   
        <select class="form-select" aria-label="Default select example">
                <option value="1">Especialista</option>
                <option value="2">Cliente</option>
            </select>
        <p></p>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>
            <button type="danger" id="btnCancel">Cancelar</button>
            <p></p>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        </div>
    </form>
</center>

<script>
$(document).ready(function() {
  $('#btnCancel').click(function() {
    var url = '@Url.Action("GetAll", "Usuario")'; // La URL de la acción en tu controlador
    window.location.href = url; // Redirige a la URL
  });
});
</script>